.jumbotron-fluid {
    background: color #222233;
    color: #7189bf;
    font-family: arial;
    height: 150px;
    text-align: center;
}

.container {
    text-align: center;
    display: inline;
}

.gif {
    display: inline;
    margin-left: 2px;
    margin-right: 2px;
    /*margin-top: 3px;
    margin-bottom: 3px;*/
}
